//@import "layout";
@import "module";

@page-top: 44px;
@fringeNo: 20px; // 非刘海  20 + 44 =64
@fringe: 44px; // 刘海  44 + 44 = 88

.hr {
  width: 100%;
  height: 1px;
  margin: 20px 0 30px;
  background: #eee;
}

// 禁止长按选择文字
* {
  -webkit-touch-callout: none; /* 系统默认菜单被禁用 */
  -webkit-user-select: none; /* webkit浏览器 */ /* 早期浏览器 */
  -moz-user-select: none;/* 火狐 */
  -ms-user-select: none; /* IE10 */
  user-select: none;
}

.closeNotify {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 9999;
  width: 36px;
  padding: 13px;
  white-space: initial;
}

// .el-tree-node {
//   &:focus .el-tree-node__content,
//   &.is-current {
//     background: red !important;
//   }
// }

.tag-big {
  height: 44px;
  font-size: 20px;
  line-height: 44px;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  color: #fff;
  background-color: #409eff;
}

input,
textarea {
  -webkit-user-select: auto; /* webkit浏览器 */
}

.header-breadcrumb {
  padding: 0 16px 4px;
  background: #fff;

  .ant-page-header {
    padding: 0;
  }
}

.page {
  height: 100%;
  min-height: 400px;
  background-color: #fff;
  // height: ~'calc( 100% - 66px )';

  &-title {
    position: relative;
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    list-style: none;
    background-color: #fff;
    box-sizing: border-box;
    font-variant: tabular-nums;

    > span {
      margin: 5px 12px 5px 0;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.45);
    }

    &__state {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-header {
    padding: 0 0;
    background: #fff;

    .ant-tabs-bar {
      margin-bottom: 0;
    }
  }

  &-tabs {
    // padding: 0 0;
    padding: 0 !important;
    background: #fff;

    .ant-tabs-bar {
      margin-bottom: 0;
    }

    + .page-container {
      // height: ~'calc( 100% - 20px )';
      height: 100%;
    }

    &--h {
      .el-tabs {
        height: 100%;
      }

      .el-tabs__content {
        height: ~'calc( 100% - 39px )';
        overflow: auto;
      }
    }
  }

  &-container {
    position: relative;
    height: 100%;
    padding: 24px;
    overflow: auto;
    // margin: 16px 16px;
    background: #fff;
  }
}

.table {
  &-hd {
    margin-bottom: 10px;
  }

  &-bd {
    margin-bottom: 10px;

    .td-select {
      .ant-form-item {
        margin-bottom: 0;
      }

      .ant-select {
        display: block;
        width: 100%;
      }
    }

    .td-upload {
      display: block;
      max-width: 300px;
    }
  }

  &-pagination {
    padding-top: 10px;
    text-align: right;
  }
}

.modal {
  // padding: 4px 20px;
  &-bd {
    padding: 20px 0;
  }

  &--nofooter {
    .ant-modal-footer {
      padding: 0;
    }
  }
}

.tr-preview {
  padding: 0 !important;
}

.view {
  display: block;
  max-width: 240px;
  margin: 0 auto;

  &-line-item--line {
    width: 100%;
    height: 4px;
    background: #333;
  }

  &-video {
    &-bg_image {
      position: relative;
      border: 2px solid blue;
    }

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      padding: 40px;

      img {
        border: 2px solid red;
      }
    }
  }

  &-menu {
    // &-img {
    //   width: 100%;
    // }

    &-label {
      margin-top: 4px;
      // line-height: 24px;
      font-size: 12px;
    }
  }

  img {
    width: 100%;
    // max-width: 240px;
  }
}

.btn-add {
  width: 300px;
}

.home {
  position: relative;
  height: 100%;

  &-class {
    // border-top: 2px solid #333;
    // border-bottom: 2px solid #333;
    padding: 10px 0;
  }

  &-tree {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  &-left {
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #d7e9ff;

    .el-tree {
      background-color: #d7e9ff;
      // border: 1px solid #3f9eff38;
    }
  }

  &-right {
    padding-left: 220px;
  }

  &-card {
    .el-card__body {
      padding: 0;
    }
  }

  &-item {
    &:nth-child(odd) {
      background: #e9e9e9;
    }

    &__input {
      width: 100px;
      
      input {
        margin-left: -16px;
      //   padding-left: 0;
      }
    }

    height: 42px;
    padding: 0 16px;

    &__tag {
      width: 32px;
      border-radius: 50%;
    }
  }

  &-tagtext {
    display: inline-block;
    margin-right: 14px;
    vertical-align: super;
  }
}

#equipment {
  position: relative;
  width: 1000px;
  height: 800px;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 9;
  background: #fff;
  border: 2px dashed #ccc;

  img {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;
    width: 100%;
  }

  .vdr {
    z-index: 10 !important;
  }
}

.equipmentBox-darg {
  &:hover {
    .equipmentBox {
      &-ft {
        .el-button--mini {
          display: block;
        }
      }
    }
  }
}

.vdr {
  border: none;
}

.equipmentBox {
  padding: 4px 8px;
  color: #fff;
  
  .iconfont {
    font-size: 32px;
    color: #fff;
  }
  // width: 120px;
  // height: 30px;
  // line-height: 30px;
  // text-align: center;
  text-align: center;
  cursor: move;
  border-radius: 12px;
  // border-radius: 8px;

  // &--near {
  //   background: #e9e9e9;
  // }

  // &--far {
  //   background: #8c8c8c;
  // }

  &--dagder {
    background-color: #f56c6c;
  }

  &--success {
    background-color: #67c23a;
  }

  &--info {
    background-color: #909399;
  }

  &-ft {
    &:hover {
      .el-button--mini {
        display: block;
      }
    }

    .el-button--mini {
      display: none;
      height: 14px;
      padding: 0 6px;
      margin: 0 auto;
      font-size: 12px;
      line-height: 14px;
      border-radius: 0;
    }
  }
}

.shanshuo {
  -webkit-animation: fade 600ms infinite;
  animation: fade 600ms infinite;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.form-center {
  width: 600px;
  margin: 0 auto;
}

.marquee-text-content {
  width: auto;
}

.marquee-text-text {
  width: 100%;
}
